*{
    margin: 0;
    padding: 0;
    font-family:"Roboto","Arial","Helvetica Neue", "Helvetica",  sans-serif ;

}


body{
    background: radial-gradient(ellipse at top,  #f0f4ff, transparent),
    radial-gradient(ellipse at bottom, #ede9ff, transparent);
    text-align: center;
    font-size: larger;
    
}

h1{
    font-size: 7vmin;
    color: #1e293b;
    text-shadow: 0rem 0rem 1rem  rgba(0, 0, 0, 0.2);
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    background-color: #ffffff ;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem  rgba(139, 92, 246, 0.4);
    font-size: 8vmin;
    color: #b0413e;
    transition: all 0.1s ease-in;
}

.box:hover{
    box-shadow: 0 0 1rem rgba(139, 92, 246, 1);
}

.reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #10b981;
    color: #ffffff;
    border-radius: 1rem;
    border: none;
    margin-bottom: 1rem;
    box-shadow: 0 0 1rem  rgba(0,0,0,0.2);
    transition: all 0.1s ease-in;
}
.reset-btn:hover{
    background-color: #059669;
    box-shadow: 0 0 1rem  rgba(0,0,0,0.4);
}
.new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #10b981;
    color: #ffffff;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem  rgba(0,0,0,0.2);
    transition: all 0.1s ease-in;
}
.new-btn:hover{
    background-color: #059669;
    box-shadow: 0 0 1rem  rgba(0,0,0,0.4);
}

.msg{
    color: #1e293b;
    text-shadow: 0rem 0rem 1rem  rgba(0, 0, 0, 0.2);
    font-size: 10vmin;
}

.msg-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;

}